@media (min-width:690px) and (min-width:900px){

.home-page .menu {
display: none;

}


.home-page header nav ul {
    width: 50%;
    height: 100%;
    background-color:transparent;
    border-radius:0;
    border:none;
    list-style: none;
    flex-direction: row;
    top: 70%;
    right: -20%;
    transform-origin: center;
    transition: 0.7s;

}
}