@import url('https://fonts.googleapis.com/css2?family=Acme&family=Akshar:wght@300;400;500;600;700&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Anek+Latin:wght@100;200;300;400;500;600;700;800&family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&family=Artifika&family=Barlow+Condensed:ital,wght@0,800;0,900;1,400;1,800&family=Bebas+Neue&family=Cairo:wght@200;600&family=Chelsea+Market&family=Coiny&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Courgette&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Indie+Flower&family=Itim&family=Kdam+Thmor+Pro&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Lobster&family=Macondo&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Pacifico&family=Patrick+Hand&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Righteous&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Sansita+Swashed:wght@300;400;500;600;700;800;900&family=Secular+One&family=Shadows+Into+Light&family=Spline+Sans+Mono:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;

}

body {
    font-family: IBM Plex Sans Arabic;

}

.home-page {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(to bottom left, #A770EF, #CF8BF3, #FDB99B);
    background-attachment: fixed;
    direction: rtl;
}



.home-page header {
    width: 100%;
    padding-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 15px black;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;

}

.home-page .menu {
    width: 2em;
    margin-right: 2em;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);

}


.home-page header nav {
    width: 95%;
    height: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-page header input {
    appearance: none;
    display: none;

}

#hed:checked~ul {
    padding: 1em;
    left: 80%;
}

.home-page header nav ul {
    width: 60%;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 2em 0 0 2em;
    border: solid 3px white;
    overflow: hidden;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
    position: absolute;
    top: 255%;
    left: 200%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: 0.7s;


}

.home-page header nav a {
    width: 100%;
    display: block;
    font-size: 1.2em;
    color: white;
    text-align: left;


}

.home-page header .logo {
    width: 100%;
    text-align: center;
    order: 1;
}

.home-page header .logo h2 {
    color: white;
    font-size: 1.5em;

}

.home-page header .logo h2 span {
    color: #FDB99B;
    font-size: 1.4em;
    text-transform: capitalize;
}

.home-page .container {
    width: 100%;
    height: calc(100% - 6em);
    position: relative;
    top: 6em;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.home-page .container .info {
    width: 100%;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.home-page .container .info p:first-child {
    color: white;
    font-weight: bold;
}

.home-page .container .info p:nth-child(4) {
    color: white;
    width: 90%;
    font-weight: bold;
}

.home-page .container .info p:last-child span {
    font-size: 1.2em;
    position: relative;
    animation: change-color-h1 5s infinite linear;
}

@keyframes change-color-h1 {
    0% {
        color: white;
    }

    50% {
        color: black;
    }

    100% {
        color: white;

    }
}

.home-page .container .info h1 {
    font-size: 3.5em;
}

.home-page .container .info h1 span {
    color: black;
    text-shadow: 0 0 5px white;
}
.home-page .container .info .links {
width: 100%;
display: flex;
justify-content: right;
align-items: center;
margin-top: 1em;
}
.home-page .container .info .links h3{
color: white;
font-size: 1.3em;
position: relative;
}
.home-page .container .info .links h3::before{
    content: '';
    position: absolute;
    bottom: -0.2em;
    right: 0;
    width: 100%;
    height: 0.05em;
    background-color: #FDB99B;
}
.home-page .container .info .links .img img{
    width: 2.5em;
    filter: drop-shadow(0 0 15px black ) ;
    margin-right: 1em;
    animation:  move-link 3s infinite linear;

}
@keyframes move-link{
    0%{
transform: scale(0.7);
    }
    50%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(0.7);
    }
}

.home-page .container .info .links h3::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0.05em;
    background-color: #FDB99B;
}

.home-page .container .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home-page .container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}











.product-container {
    width: 100%;
    min-height: 100vh;
    direction: ltr;
    position: relative;



}

.product-container .title {
    width: 100%;
    padding: 1em;
}

.product-container .title h2 {
    font-size: 2em;
    text-transform: capitalize;
    position: relative;
    width: fit-content;
}

.product-container .title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #FDB99B;
}

.product-container .cards {
    width: 100%;
    height: 90%;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;

}

.product-container .cards .card {
    width: 95%;
    height: 25em;
    overflow: hidden;
    position: relative;
    border-radius: 1em;
    box-shadow: -5px 5px 15px black;
    margin: 1em 0;
    background-image: linear-gradient(to top right, #b12ef8, #f35714);

}

.product-container .cards .card .image {
    width: 100%;
    height: 90%;
    overflow: hidden;

}

.product-container .cards .card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;

}

.product-container .cards .card:nth-child(3) .image img {
    object-position: center;
}

.product-container .cards .card:nth-child(4) .image img {
    object-position: center;
}

.product-container .cards .card:nth-child(6) .image img {
    object-position: center;
}

.product-container .cards .card .info {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container .cards .card .info a {
    display: block;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0.1em;
    animation: nabd-a 3s infinite linear;

}

.product-container .cards .card:nth-child(3) .info a {
    animation: nabd-a-3 3s infinite linear;
}

@keyframes nabd-a {
    0% {
        transform: scale(0.9);

    }

    50% {
        transform: scale(1.2);

    }

    100% {
        transform: scale(0.9);

    }

}

@keyframes nabd-a-3 {
    0% {
        transform: scale(0.8);

    }

    50% {
        transform: scale(1);

    }

    100% {
        transform: scale(0.8);

    }

}












.gold-page {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom left, #A770EF, #CF8BF3, #FDB99B);
    display: flex;
    justify-content: center;
    align-items: center;

}

.gold-page h1 {

    transform: scale(2) rotate(90deg);
}


















.huils-contianer {
    width: 100%;
    min-height: 120vh;
    position: relative;
    background: url(cute.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;


}

.huils-contianer .container .title {
    width: 100%;
    text-align: left;
    padding: 1em;
    height: 3em;
}

.huils-contianer .container .title h2 {
    font-size: 2em;
    text-transform: capitalize;
    position: relative;
    color: white;
    

}


.huils-contianer .container .title h2::first-letter {
    color: #ede0b3;
    font-size: 1.4em;
    text-shadow: 0 0 2px black;
}

.huils-contianer .container .all-box {
    width: 100%;
    height: 95%;
    position: relative;
    top: 4em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.huils-contianer .container .all-box .box {
    width: 100%;
    padding: 0.5em;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), -5px 5px rgba(0, 0, 0, 0.5);

    border-radius: 1em;
    overflow: hidden;

}

.huils-contianer .container .all-box .box input {
    appearance: none;
    display: none;
}

.huils-contianer .container .all-box .box label {
    position: relative;
    display: flex;
    align-items: center;
}

.huils-contianer .container .all-box .box label::after {
    content: '+';
    font-size: 1.8em;
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.huils-contianer .container .all-box .box :checked~label::after {
    color: black;
    transform: scale(1.5) rotate(135deg);
}

.huils-contianer .container .all-box .box label h2 {
    font-size: 2em;
    background-color: black;
    color: white;
    padding: 0 0.2em;
    border-radius: 0.3em;
    margin-right: 0.5em;
   

}

.huils-contianer .container .all-box .box :checked~label h2 {
    position: absolute;
    width: 120%;
    height: 8em;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2em 1em;
    color: rgba(0, 0, 0, 0.3);

}

.huils-contianer .container .all-box .box:nth-child(1) :checked~label h2 {
    background-image: linear-gradient(to top right, #fe9b74, #f4decf);

}

.huils-contianer .container .all-box .box:nth-child(2) :checked~label h2 {
    background-image: linear-gradient(to top right, #fe9b74, #f4decf);

}

.huils-contianer .container .all-box .box:nth-child(3) :checked~label h2 {
    background-image: linear-gradient(to top right, #fe9b74, #f4decf);
    padding: 3em 1em;

}

.huils-contianer .container .all-box .box:nth-child(4) :checked~label h2 {
    background-image: linear-gradient(to top right, #fe9b74, #f4decf);

}

.huils-contianer .container .all-box .box:nth-child(5) :checked~label h2 {
    background-image: linear-gradient(to top right, #fe9b74, #f4decf);

}



.huils-contianer .container .all-box .box label h3 {
    font-size: 1.4em;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 0.1em;
    z-index: 99;
    color: black;
    position: relative;
    z-index: 99;
    pointer-events: none;

}

.huils-contianer .container .all-box .box :checked~label h3 {
    color: black;
}

.huils-contianer .container .all-box .box .content p {
    font-size: 1.3em;
    line-height: 1.4;
    position: relative;
    z-index: 99;
    transition: 0.7s;
}

.huils-contianer .container .all-box .box :checked~.content p {
    color: white
}

.huils-contianer .container .all-box .box .content {
    max-height: 0;
    overflow: hidden;
    position: relative;

}

.huils-contianer .container .all-box .box :checked~.content {
    max-height: 100vh;
    transition: 1s;
}












.secend-page {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(sirom.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;


}

.secend-page .container .title {
    width: 100%;
    text-align: left;
    padding: 1em;
    height: 3em;
}

.secend-page .container .title h2 {
    font-size: 2em;
    text-transform: capitalize;
    position: relative;

}

.secend-page .container .title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 0.1em;
    background-color: #FDB99B;

}

.secend-page .container .title h2::first-letter {
    color: #FDB99B;
    font-size: 1.4em;
    text-shadow: 0 0 2px black;
}

.secend-page .container .all-box {
    width: 100%;
    height: calc(100% - 5em);
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.secend-page .container .all-box .box {
    width: 100%;
    padding: 0.5em;
    box-shadow: 0 0 15px black;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1em;
    position: relative;
    overflow: hidden;

}

.secend-page .container .all-box .box input {
    display: none;
    appearance: none;
}

.secend-page .container .all-box .box label {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;

}

.secend-page .container .all-box .box label::after {
    content: '+';
    position: absolute;
    right: 0;
    font-size: 1.8em;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;

}

.secend-page .container .all-box .box :checked~label::after {
    color: black;
    transform: scale(1.5) rotate(135deg);
}

.secend-page .container .all-box .box label h2 {
    font-size: 2em;
    background-color: black;
    color: white;
    padding: 0 0.2em;
    border-radius: 0.3em;
    margin-right: 0.5em;



}

.secend-page .container .all-box .box :checked~label h2 {
    position: absolute;
    width: 120%;
    height: 8em;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2em 1em;
    color: rgba(0, 0, 0, 0.3);
}

.secend-page .container .all-box .box:nth-child(1) :checked~label h2 {
    background-image: linear-gradient(to top right, #A770EF, #CF8BF3, #FDB99B);
}

.secend-page .container .all-box .box:nth-child(2) :checked~label h2 {
    background-image: linear-gradient(to top right, #A770EF, #CF8BF3, #FDB99B);
}

.secend-page .container .all-box .box:nth-child(3) :checked~label h2 {
    background-image: linear-gradient(to top right, #A770EF, #CF8BF3, #FDB99B);
}

.secend-page .container .all-box .box:nth-child(4) :checked~label h2 {
    background-image: linear-gradient(to top right, #A770EF, #CF8BF3, #FDB99B);
}

.secend-page .container .all-box .box:nth-child(5) :checked~label h2 {
    background-image: linear-gradient(to top right, #A770EF, #CF8BF3, #FDB99B);
}

.secend-page .container .all-box .box:nth-child(6) :checked~label h2 {
    background-image: linear-gradient(to top right, #A770EF, #CF8BF3, #FDB99B);
}

.secend-page .container .all-box .box:nth-child(7) :checked~label h2 {
    background-image: linear-gradient(to top right, #A770EF, #CF8BF3, #FDB99B);
    padding: 3em 1em;
}

.secend-page .container .all-box .box:nth-child(8) :checked~label h2 {
    background-image: linear-gradient(to top right, #A770EF, #CF8BF3, #FDB99B);
}

.secend-page .container .all-box .box label h3 {
    font-size: 1.4em;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 0.1em;
    pointer-events: none;
    z-index: 99;
    color: black;
}

.secend-page .container .all-box .box .content {

    max-height: 0;
    overflow: hidden;

}

.secend-page .container .all-box .box .content p {
    color: white;
    position: relative;
    z-index: 99;
    font-size: 1.2em;
}

.secend-page .container .all-box .box :checked~.content {
    max-height: 100vh;
    transition: 0.8s;
}













.cerme-contianer {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(cerem.jpg);
    background-position: center;
    background-size: cover;

}

.cerme-contianer .container .title {
    width: 100%;
    text-align: left;
    padding: 1em;
    height: 3em;
}

.cerme-contianer .container .title h2 {
    font-size: 2em;
    text-transform: capitalize;
    position: relative;

}

.cerme-contianer .container .title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 0.1em;
    background-color: #FDB99B;

}

.cerme-contianer .container .title h2::first-letter {
    color: #FDB99B;
    font-size: 1.4em;
    text-shadow: 0 0 2px black;
}

.cerme-contianer .container .all-box {
    width: 100%;
    height: 95%;
    position: relative;
    top: 2em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cerme-contianer .container .all-box .box {
    width: 100%;
    padding: 0.5em;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), -5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    overflow: hidden;

}

.cerme-contianer .container .all-box .box input {
    appearance: none;
    display: none;
}

.cerme-contianer .container .all-box .box label {
    position: relative;
    display: flex;
    align-items: center;
}

.cerme-contianer .container .all-box .box label::after {
    content: '+';
    font-size: 1.8em;
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.cerme-contianer .container .all-box .box :checked~label::after {
    color: black;
    transform: scale(1.5) rotate(135deg);
}

.cerme-contianer .container .all-box .box label h2 {
    font-size: 2em;
    background-color: black;
    color: white;
    padding: 0 0.2em;
    border-radius: 0.3em;
    margin-right: 0.5em;

}

.cerme-contianer .container .all-box .box :checked~label h2 {
    position: absolute;
    width: 120%;
    height: 8em;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2em 1em;
    color: rgba(0, 0, 0, 0.3);

}

.cerme-contianer .container .all-box .box:nth-child(1) :checked~label h2 {
    background-image: linear-gradient(to top right, #b582f7, #d09deb, #ff8754);

}

.cerme-contianer .container .all-box .box:nth-child(2) :checked~label h2 {
    background-image: linear-gradient(to top right, #b582f7, #d09deb, #ff8754);

}

.cerme-contianer .container .all-box .box:nth-child(3) :checked~label h2 {
    background-image: linear-gradient(to top right, #b582f7, #d09deb, #ff8754);

}

.cerme-contianer .container .all-box .box:nth-child(4) :checked~label h2 {
    background-image: linear-gradient(to top right, #b582f7, #d09deb, #ff8754);

}

.cerme-contianer .container .all-box .box label h3 {
    font-size: 1.4em;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 0.1em;
    z-index: 99;
    color: black;
    pointer-events: none;
    position: relative;
    z-index: 99;
}

.cerme-contianer .container .all-box .box .content p {
    font-size: 1.3em;
    line-height: 1.4;
    position: relative;
    z-index: 99;
    transition: 0.7s;
}

.cerme-contianer .container .all-box .box :checked~.content p {
    color: white
}

.cerme-contianer .container .all-box .box .content {
    max-height: 0;
    overflow: hidden;
    position: relative;

}

.cerme-contianer .container .all-box .box :checked~.content {
    max-height: 100vh;
    transition: 0.8s;


}
















.mask-contianer {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(mask.jpg);
    background-position: center;
    background-size: cover;

    animation: move-back 20s infinite linear;
}

@keyframes move-back {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

.mask-contianer .container .title {
    width: 100%;
    text-align: left;
    padding: 1em;
    height: 3em;
}

.mask-contianer .container .title h2 {
    font-size: 2em;
    text-transform: capitalize;
    position: relative;

}

.mask-contianer .container .title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 0.1em;
    background-color: #FDB99B;

}

.mask-contianer .container .title h2::first-letter {
    color: #FDB99B;
    font-size: 1.4em;
    text-shadow: 0 0 2px black;
}

.mask-contianer .container .all-box {
    width: 100%;
    height: 95%;
    position: relative;
    top: 2em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.mask-contianer .container .all-box .box {
    width: 100%;
    padding: 0.5em;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), -5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    overflow: hidden;

}

.mask-contianer .container .all-box .box input {
    appearance: none;
    display: none;
}

.mask-contianer .container .all-box .box label {
    position: relative;
    display: flex;
    align-items: center;
}

.mask-contianer .container .all-box .box label::after {
    content: '+';
    font-size: 1.8em;
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.mask-contianer .container .all-box .box :checked~label::after {
    color: black;
    transform: scale(1.5) rotate(135deg);
}

.mask-contianer .container .all-box .box label h2 {
    font-size: 2em;
    background-color: black;
    color: white;
    padding: 0 0.2em;
    border-radius: 0.3em;
    margin-right: 0.5em;

}

.mask-contianer .container .all-box .box :checked~label h2 {
    position: absolute;
    width: 120%;
    height: 8em;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2em 1em;
    color: rgba(0, 0, 0, 0.3);

}

.mask-contianer .container .all-box .box:nth-child(1) :checked~label h2 {
    background-image: linear-gradient(to top right, #b582f7, #ff4d00);

}

.mask-contianer .container .all-box .box:nth-child(2) :checked~label h2 {
    background-image: linear-gradient(to top right, #b582f7, #ff4d00);

}

.mask-contianer .container .all-box .box:nth-child(3) :checked~label h2 {
    background-image: linear-gradient(to top right, #b582f7, #ff4d00);

}

.mask-contianer .container .all-box .box:nth-child(4) :checked~label h2 {
    background-image: linear-gradient(to top right, #b582f7, #ff4d00);

}

.mask-contianer .container .all-box .box label h3 {
    font-size: 1.4em;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 0.1em;
    z-index: 99;
    color: black;
    position: relative;
    pointer-events: none;
    z-index: 99;
}

.mask-contianer .container .all-box .box .content p {
    font-size: 1.3em;
    line-height: 1.4;
    position: relative;
    z-index: 99;
    transition: 0.7s;
}

.mask-contianer .container .all-box .box :checked~.content p {
    color: white
}

.mask-contianer .container .all-box .box .content {
    max-height: 0;
    overflow: hidden;
    position: relative;

}

.mask-contianer .container .all-box .box :checked~.content {
    max-height: 100vh;
    transition: 0.8s;
}








.lotion-contianer {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(lotion.jpg);
    background-position: center;
    background-size: cover;

    animation: move-back 20s infinite linear;
}

@keyframes move-back {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

.lotion-contianer .container .title {
    width: 100%;
    text-align: left;
    padding: 1em;
    height: 3em;
}

.lotion-contianer .container .title h2 {
    font-size: 2em;
    text-transform: capitalize;
    position: relative;

}

.lotion-contianer .container .title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 0.1em;
    background-color: #04f1e5;

}

.lotion-contianer .container .title h2::first-letter {
    color: #04f1e5;
    font-size: 1.4em;
    text-shadow: 0 0 2px black;
}

.lotion-contianer .container .all-box {
    width: 100%;
    height: 95%;
    position: relative;
    top: 2em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.lotion-contianer .container .all-box .box {
    width: 100%;
    padding: 0.5em;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), -5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    overflow: hidden;

}

.lotion-contianer .container .all-box .box input {
    appearance: none;
    display: none;
}

.lotion-contianer .container .all-box .box label {
    position: relative;
    display: flex;
    align-items: center;
}

.lotion-contianer .container .all-box .box label::after {
    content: '+';
    font-size: 1.8em;
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.lotion-contianer .container .all-box .box :checked~label::after {
    color: black;
    transform: scale(1.5) rotate(135deg);
}

.lotion-contianer .container .all-box .box label h2 {
    font-size: 2em;
    background-color: black;
    color: white;
    padding: 0 0.2em;
    border-radius: 0.3em;
    margin-right: 0.5em;

}

.lotion-contianer .container .all-box .box :checked~label h2 {
    position: absolute;
    width: 120%;
    height: 8em;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2em 1em;
    color: rgba(0, 0, 0, 0.3);

}

.lotion-contianer .container .all-box .box:nth-child(1) :checked~label h2 {
    background-image: linear-gradient(to top right, rgb(0, 119, 255), aqua);

}

.lotion-contianer .container .all-box .box:nth-child(2) :checked~label h2 {
    background-image: linear-gradient(to top right, rgb(0, 119, 255), aqua);

}

.lotion-contianer .container .all-box .box:nth-child(3) :checked~label h2 {
    background-image: linear-gradient(to top right, rgb(0, 119, 255), aqua);

}


.lotion-contianer .container .all-box .box label h3 {
    font-size: 1.4em;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 0.1em;
    z-index: 99;
    color: black;
    position: relative;
    pointer-events: none;
    z-index: 99;
}

.lotion-contianer .container .all-box .box .content p {
    font-size: 1.3em;
    line-height: 1.4;
    position: relative;
    z-index: 99;
    transition: 0.7s;
}

.lotion-contianer .container .all-box .box :checked~.content p {
    color: white
}

.lotion-contianer .container .all-box .box .content {
    max-height: 0;
    overflow: hidden;
    position: relative;

}

.lotion-contianer .container .all-box .box :checked~.content {
    max-height: 100vh;
    transition: 0.8s;
}














.shampoo-contianer {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(shampoo.jpg);
    background-position: right;
    background-size: cover;


}



.shampoo-contianer .container .title {
    width: 100%;
    text-align: left;
    padding: 1em;
    height: 3em;
}

.shampoo-contianer .container .title h2 {
    font-size: 2em;
    text-transform: capitalize;
    position: relative;
    color: white;

}

.shampoo-contianer .container .title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 0.1em;
    background-color: #ede0b3;

}

.shampoo-contianer .container .title h2::first-letter {
    color: #ede0b3;
    font-size: 1.4em;
    text-shadow: 0 0 2px black;
}

.shampoo-contianer .container .all-box {
    width: 100%;
    height: 95%;
    position: relative;
    top: 2em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.shampoo-contianer .container .all-box .box {
    width: 100%;
    padding: 0.5em;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), -5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    overflow: hidden;

}

.shampoo-contianer .container .all-box .box input {
    appearance: none;
    display: none;
}

.shampoo-contianer .container .all-box .box label {
    position: relative;
    display: flex;
    align-items: center;
}

.shampoo-contianer .container .all-box .box label::after {
    content: '+';
    font-size: 1.8em;
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.shampoo-contianer .container .all-box .box :checked~label::after {
    color: black;
    transform: scale(1.5) rotate(135deg);
}

.shampoo-contianer .container .all-box .box label h2 {
    font-size: 2em;
    background-color: black;
    color: white;
    padding: 0 0.2em;
    border-radius: 0.3em;
    margin-right: 0.5em;

}

.shampoo-contianer .container .all-box .box :checked~label h2 {
    position: absolute;
    width: 120%;
    height: 8em;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2em 1em;
    color: rgba(0, 0, 0, 0.3);

}

.shampoo-contianer .container .all-box .box:nth-child(1) :checked~label h2 {
    background-image: linear-gradient(to top left, #d38551, #ffcead);

}

.shampoo-contianer .container .all-box .box:nth-child(2) :checked~label h2 {
    background-image: linear-gradient(to top left, #d38551, #ffcead);

}

.shampoo-contianer .container .all-box .box:nth-child(3) :checked~label h2 {
    background-image: linear-gradient(to top left, #d38551, #ffcead);

}



.shampoo-contianer .container .all-box .box label h3 {
    font-size: 1.4em;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 0.1em;
    z-index: 99;
    color: white;
    position: relative;
    pointer-events: none;
    z-index: 99;
}

.shampoo-contianer .container .all-box .box :checked~label h3 {
    color: black;
}

.shampoo-contianer .container .all-box .box .content p {
    font-size: 1.3em;
    line-height: 1.4;
    position: relative;
    z-index: 99;
    transition: 0.7s;
}

.shampoo-contianer .container .all-box .box :checked~.content p {
    color: white
}

.shampoo-contianer .container .all-box .box .content {
    max-height: 0;
    overflow: hidden;
    position: relative;

}

.shampoo-contianer .container .all-box .box :checked~.content {
    max-height: 100vh;
    transition: 0.8s;
}























.savon-contianer {
    width: 100%;
    min-height: 150vh;
    position: relative;
    background: url(savone.jpg);
    background-position: center;
    background-size: cover;

    animation: move-back 30s infinite linear;
}

@keyframes move-back-sa {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

.savon-contianer .container .title {
    width: 100%;
    text-align: left;
    padding: 1em;
    height: 3em;
}

.savon-contianer .container .title h2 {
    font-size: 2em;
    text-transform: capitalize;
    position: relative;
    color: white;

}

.savon-contianer .container .title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 0.1em;
    background-color: #fdbf61;

}

.savon-contianer .container .title h2::first-letter {
    color: #fdbf61;
    font-size: 1.4em;
    text-shadow: 0 0 2px black;
}

.savon-contianer .container .all-box {
    width: 100%;
    height: 95%;
    position: relative;
    top: 2em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.savon-contianer .container .all-box .box {
    width: 100%;
    padding: 0.5em;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), -5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    overflow: hidden;

}

.savon-contianer .container .all-box .box input {
    appearance: none;
    display: none;
}

.savon-contianer .container .all-box .box label {
    position: relative;
    display: flex;
    align-items: center;
}

.savon-contianer .container .all-box .box label::after {
    content: '+';
    font-size: 1.8em;
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.savon-contianer .container .all-box .box :checked~label::after {
    color: black;
    transform: scale(1.5) rotate(135deg);
}

.savon-contianer .container .all-box .box label h2 {
    font-size: 2em;
    background-color: black;
    color: white;
    padding: 0 0.2em;
    border-radius: 0.3em;
    margin-right: 0.5em;

}

.savon-contianer .container .all-box .box :checked~label h2 {
    position: absolute;
    width: 120%;
    height: 8em;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2em 1em;
    color: rgba(0, 0, 0, 0.3);

}

.savon-contianer .container .all-box .box:nth-child(1) :checked~label h2 {
    background-image: linear-gradient(to top left, #E2F3FC, #ff7c48);
}

.savon-contianer .container .all-box .box:nth-child(2) :checked~label h2 {
    background-image: linear-gradient(to top left, #E2F3FC, #ff7c48);

}

.savon-contianer .container .all-box .box:nth-child(3) :checked~label h2 {
    background-image: linear-gradient(to top left, #E2F3FC, #ff7c48);

}

.savon-contianer .container .all-box .box:nth-child(4) :checked~label h2 {
    background-image: linear-gradient(to top left, #E2F3FC, #ff7c48);

}

.savon-contianer .container .all-box .box:nth-child(5) :checked~label h2 {
    background-image: linear-gradient(to top left, #E2F3FC, #ff7c48);

}

.savon-contianer .container .all-box .box:nth-child(6) :checked~label h2 {
    background-image: linear-gradient(to top left, #E2F3FC, #ff7c48);

}



.savon-contianer .container .all-box .box label h3 {
    font-size: 1.4em;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 0.1em;
    z-index: 99;
    color: white;
    position: relative;
    pointer-events: none;
    z-index: 99;
}

.savon-contianer .container .all-box .box :checked~label h3 {
    color: black;
}

.savon-contianer .container .all-box .box .content p {
    font-size: 1.3em;
    line-height: 1.4;
    position: relative;
    z-index: 99;
    transition: 0.7s;
}

.savon-contianer .container .all-box .box :checked~.content p {
    color: white
}

.savon-contianer .container .all-box .box .content {
    max-height: 0;
    overflow: hidden;
    position: relative;

}

.savon-contianer .container .all-box .box :checked~.content {
    max-height: 100vh;
    transition: 0.8s;
}

@media (min-height: 690px) {
    .home-page header nav ul {
        top: 280%;
        left: 200%;
        transform: translate(-50%, -50%);
    }
    }
@media (min-height: 718px) {
    .home-page header nav ul {
        top: 295%;
        left: 200%;
        transform: translate(-50%, -50%);
    }
    }
@media (min-height: 835px) {
    .home-page header nav ul {
        top: 310%;
        left: 200%;
        transform: translate(-50%, -50%);
    }
    }
@media (min-height: 895px) {
    .home-page header nav ul {
        top: 320%;
        left: 200%;
        transform: translate(-50%, -50%);
    }
    }